- command: move
  from: hello_{{ cakemix.name|lower }}.txt
  to: hello_{{ cakemix.name|lower }}_1.txt

{% for i in range(2, cakemix.quantity|int + 1) %}
- command: copy
  from: hello_{{ cakemix.name|lower }}_1.txt
  to: hello_{{ cakemix.name|lower }}_{{ i }}.txt
{% endfor %}

- command: delete
  path: this_file_has_been_deleted.txt
