- command: move
  from: hello_{{ cakemix.name }}.txt
  to: hello_{{ cakemix.name }}_1.txt

{% for i in range(2, cakemix.quantity|int) %}
- command: copy
  from: hello_{{ cakemix.name }}_1.txt
  to: hello_{{ cakemix.name }}_{{ i }}.txt
{% endfor %}

- command: delete
  path: this_file_has_been_deleted.txt
